langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
numpy
torch
transformers
faiss-cpu
sentence-transformers
huggingface-hub
sentencepiece
fastapi
uvicorn[standard]
pydantic
pydantic-settings
streamlit
python-dotenv
ragas
datasets
flashrank
rank-bm25